.admin-navBar{
    display: flex;
    justify-content: space-around;
    margin: 4px;

}
.admin-nav-button-group{
    display: flex;
    gap: 30px;
    margin-right: auto;
}
.admin-nav-button-group button{
    font-size: 1.1em;
    padding: 10px;
    background-color: #4FB7B3;
    color: white;
    border: 0;
    font-weight: bold;
}
.admin-nav-button-group button .icon{
    font-size: 1.7em;

}
.admin-nav-button-group button:active{
    background-color: #A8FBD3;
}
.admin-nav-button-group button{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
    justify-content: left;
    transition: all 0.4s ease-in-out;
    
}
.admin-nav-button-group button .label{
     max-width: 0; /* Hides */
     opacity: 0;
     white-space: nowrap;
     overflow: hidden;
     transition: all 0.5s ease-in-out;

}

.admin-nav-button-group button:hover .label,
.admin-nav-button-group button.admin-nav-selected .label {
  max-width: 200px;
  opacity: 1;
}
.hamburgButton-admin{
    border-radius: 50%;
    border: 0;
    background-color: transparent;
}
.hamburgButton-admin:hover{
    background-color: #A8FBD3;
    padding: 3px 10px;

}
